---
layout: custom-cv
---

<!-- Hardcoded Download PDF Buttons -->
<a href="/assets/pdf/2023-1pgResume_Censored.pdf" target="_blank" rel="noopener noreferrer">
  Click to Download First PDF
</a>
<!-- Embed First PDF directly within the page -->
<iframe src="/assets/pdf/2023-1pgResume_Censored.pdf" width="100%" style="border:none;height: 90vh;"></iframe>

<a href="/assets/pdf/MHC_DIPLOMA.pdf" target="_blank" rel="noopener noreferrer">
  Click to Download Second PDF
</a>
<!-- Embed Second PDF directly within the page -->
<iframe src="/assets/pdf/MHC_DIPLOMA.pdf" width="100%" style="border:none;height: 90vh;"></iframe>